.nested-fields
  
  .row

    .col-sm-5.col-xs-5
      = f.label 'Período'
      = f.number_field :period, class:'form-control input-sm', min: 1, required: true
    
    .col-sm-6.col-xs-6
      = f.label 'Demanda'
      = f.number_field :demand, class:'form-control input-sm', min: 0, required: true
    
    .col-sm-1.col-xs-1 style="padding-top: 30px"
      = link_to_remove_association f do
        i.fa.fa-times

  hr.divider