= content_for :title, 'Histórico do item: ' + @item_history.item.description

.modal-body

  - if @item_history.item_history_periods.blank?

    .alert.alert-info
      button.close[type="button" data-dismiss="alert" aria-label="Close"]
        span[aria-hidden="true"]
        | ×
      | Não há lançamentos para este item.

  - else

    .alert.alert-info
      .row
        .col-sm-6.col-xs-12
          | Demanda total: 
          = @item_history.total
          |  unidades.
        .col-sm-6.col-xs-12
          | Demanda média: 
          = @item_history.media
          |  unidades.

  = form_for @item_history do |f|

    #item_history_periods
      = f.fields_for :item_history_periods do |item_history_period|
        = render 'item_history_period_fields', f: item_history_period
      .links
        = link_to_add_association 'Adicionar Período/Demanda', f, :item_history_periods, class:'btn btn-default btn-sm'
    
    = f.submit 'Atualizar Histórico', class:'btn btn-success pull-right'

.modal-footer
