.modal-body

  = form_for @item do |f|

    .form-group
      = f.label 'Código'
      = f.number_field :code, class:'form-control', min: 0, required: true

    .form-group
      = f.label 'Descrição'
      = f.text_field :description, class:'form-control', required: true

    .form-group
      = f.label 'Unidades'
      = f.number_field :units, class:'form-control', min: 0, required: true

    - if current_page?(new_item_path)
      = f.submit 'Criar item', class:'btn btn-success pull-right'
    - else
      = f.submit 'Atualizar item', class:'btn btn-success pull-right'

.modal-footer