- if @items.blank?
  
  .alert.alert-danger
    | Não há itens em estoque.

  = link_to 'Novo Item', new_item_path, data: { modal: true }, class:'btn btn-primary'
  
- else

  table#estoque.table.table-striped.table-responsive.table-bordered

    thead

      tr
        th Código
        th Descrição
        th Unidades existentes
        th Demanda total
        th.text-right Histórico
        th
        th

    tbody

      - @items.each do |item|

        tr
          td = item.code
          td = item.description
          td = item.units
          td
            - if item.demand.nil?
              | 0 unidades
            - else
              = item.demand
              |  unidades
              
          td align='right'
            = link_to item.item_history, data: { modal: true }, title:'Ver Histórico' do
              i.fa.fa-eye

          td align='right'
            = link_to edit_item_path(item), title: 'Editar', data: { modal: true } do
              i.fa.fa-pencil

          td align='right'
            = link_to item, data: { confirm: 'Excluir item?' }, method: :delete, title: 'Excluir' do
              i.fa.fa-times

  br

  .btn-group.btn-group-sm
    = link_to 'Novo Item', new_item_path, data: { modal: true }, class:'btn btn-primary'
    = link_to 'Gerar Relatório de Estoque', download_stock_report_path, class:'btn btn-primary'

javascript:
  $(document).ready(function() {
      $('#estoque').DataTable( {
        "iDisplayLength": 8,
        columnDefs: [ { orderable: false, targets: [5, 6] } ],
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
        }
      } );
  } );