p#notice = notice

p
  strong Code:
  = @item.code
p
  strong Description:
  = @item.description
p
  strong Units:
  = @item.units
p
  strong Demand:
  = @item.demand

= link_to 'Edit', edit_item_path(@item)
'|
= link_to 'Back', items_path
