p.text-justify
  | O Sistema de Controle de Estoque é um sistema de informações gerenciais da empresa NecessidadesUrgentes S.A. desenvolvido pela empresa SoluçõesSoftwares LTDA.

p.text-justify
  | O módulo de cálculo de estoque mínimo e exportação de relatório de situação de estoque tem como entrada os itens cadastrados no estoque (arquivo-mestre) e como saída o estoque mínimo e um relatório em formato para impressão.

hr.divider

img src="http://i.imgur.com/vQ9gUC9.png" align="middle"

hr.divider

p.text-justify
  | O cálculo do estoque mínimo é calculado tendo como base o histórico de pedidos de cada item, um fator de segurança e um 
  em lead time
  |  (tempo de entrega)

hr.divider

p.text-justify
  | Este é o primeiro trabalho da disciplina de Sistemas de Informação - Turma A, da Universidade de Brasília no 1º semestre de 2016.

p.text-justify
  | Esse sistema foi desenvolvido por Rafael Alves Fernandes, matrícula 14/0030395.

p.text-justify
  | Esse sistema utiliza 
  em Ruby
  |  como linguagem de programação, 
  em Ruby on Rails 
  |  como framework WEB baseado em MVC, 
  em PostgreSQL 
  |  como gerenciador de banco de dados, 
  em HTML, SCSS e Javascript 
  | como linguagens de marcação, estilo e script no 
  em frontend, 
  |  além de 
  em Bootstrap e Bootswatch 
  | como framework CSS.