doctype html

html

  head
    title
      | SCE
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
    link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/dt-1.10.11/datatables.min.css"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    script type="text/javascript" src="https://cdn.datatables.net/t/bs/dt-1.10.11/datatables.min.js"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    = csrf_meta_tags

  body.container

    #modal-holder
    
    nav.navbar.navbar-default.navbar-center.navbar-fixed-top
      
      .container
        
        .navbar-brand
          | Sistema de Controle de Estoque
      
        button type="button" class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target="#about-modal"
          | Sobre

        p.navbar-text.pull-right
          | Desenvolvido por Rafael Alves Fernandes

    - unless flash.notice.nil?
      #flash.alert.alert-info
        button.close[type="button" data-dismiss="alert" aria-label="Close"]
          span[aria-hidden="true"]
          | ×      
        = notice
  
    = yield

    .modal#about-modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-label="Close"]
              span[aria-hidden="true"]
                | ×
            h4.modal-title
              | Sobre
          .modal-body
            = render 'layouts/about_modal'
          .modal-footer
            button.btn.btn-primary[type="button" data-dismiss="modal"]
              | Ok