#mainModal.modal.custom.fade aria-hidden="true" aria-labelledby="mainModalLabel" role="dialog" tabindex="-1" 
  .modal-dialog
    .modal-content
      .modal-header
        button.close data-dismiss="modal" type="button" 
          span aria-hidden="true"  ×
          span.sr-only Fechar
        h4#mainModalLabel.modal-title
          = yield :title if content_for? :title
      = yield